.body-verEvento {
  background-color: #003366;
  height: 100vh;
  margin-top: 80px;
}
.container-verevento {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.container-verevento li {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 22px;
}
  
.col p {
  margin:0;
  color:#003366;
}
.container-verevento ul {
  width: 100%;
}
.row {
  display:flex;
}
.col{
  width:33%;
  margin-left:auto;
  margin-right:auto;
}
.container-verevento li::before {
  content: "●";
  font-size: 20px;
  color: #003366;
  margin-right: 10px;
}

.body-verEvento h1{
  color: white;
}

.body-verEvento .title{
display: flex;
justify-content: center;
align-items: center ;
font-size: 20px;
}

