

.body-verEvento {
	background-color: #003366; /* Cambia el color de fondo a un gris claro */
    height: 945px;
}
  .container-verevento {
    margin: 10px; /* Agrega un margen entre cada elemento de la lista */
    padding: 10px; /* Agrega un padding a cada elemento de la lista */
    border: 1px solid #ffffff; /* Agrega un borde a cada elemento de la lista */
    border-radius: 20px; /* Agrega un radio de esquina a cada elemento de la lista */
    background-color: #ffffff; /* Cambia el color de fondo a blanco */
    display: flex; /* Agrega flexbox para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    max-width: 1500px; /* Establece un ancho máximo para el contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  
  }
b{
  color:#003366;
}
  .container-verevento li  {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    column-count: 3; /* Divide la lista en 3 columnas */
    column-gap: 15px; /* Agrega un espacio entre las columnas */
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .container-verevento li::marker {
    list-style-type: disc;
    color:#003366;
    font-size: 30px;
  }
  